@import "tailwindcss";

@theme {
  --color-google-text-gray: #3c4043;
  --color-google-button-blue: #1a73e8;
  --color-google-button-blue-hover: #5195ee;
  --color-google-button-dark: #202124;
  --color-google-button-dark-hover: #555658;
  --color-google-button-border-light: #dadce0;
  --color-google-logo-blue: #4285f4;
  --color-google-logo-green: #34a853;
  --color-google-logo-yellow: #fbbc05;
  --color-google-logo-red: #ea4335;
}
